<div class="container">
        <div class="d-flex justify-content-around flex-wrap">
            <div class="card  mb-3" style="width: 18rem; border-radius: 10px;">
                <div class="card-body">
                    <li>
                        <img src={{thumnails}} class="card-img-top" alt="...">
                        <h5>{{id}}</h5>
                        <h4 class="card-title text-uppercase">{{title}}</h4>
                        <p class="card-text">{{description}}</p>
                        <p>Precio: {{price}}</p>
                    </li>
                </div>
            </div>
        </div>
    </div>